main{
background-color: rgb(41, 12, 143);
    padding: 20px;
    border-radius: 10px;
    width: 430px;
    margin: auto;
}
h1{
    font-size: 36px;
    color: white;
}
h2{
    font-size: 24px;
    color: white;
}
body{
    background-color: rgb(2, 2, 62);
    text-align: center;
    margin-top: 80px;
}
input{
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
    width: 200px;
    font-weight: bold;
}
input:hover{
    background-color: rgb(170, 170, 170);
}
button{
background-color: green;
color: white;
padding: 10px;
border-radius: 5px;
margin: 20px;
width: 100px;
font-weight: bold;
font-size: medium;
}
button:hover{
    background-color: rgb(0, 106, 0);
    cursor: pointer;
}
div.container{
    background-color: rgb(10, 10, 255);
    width: 400px;
    height: auto;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}
p{
    color: white;
}
img{
    width: 300px;
    height: auto;
}